{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "account_page_template.html" %}
<div class="col-md-9">
    <div class="row g-2 border border-1 rounded-2">
        <div class="col-12 col-md-12 d-flex justify-content-center">
            <form method="POST" action="{{ url_for('account.change_password') }}" class="w-50 py-2">
                {{ form.hidden_tag() }}
                {{ form.old_password.label(class_="form-label") }} {{ form.old_password(class_="form-control") }}
                {{ form.new_password.label(class_="form-label my-2") }} {{ form.new_password(class_="form-control") }}
                {{ form.confirm_new_password.label(class_="form-label my-2") }} {{
                form.confirm_new_password(class_="form-control") }}
                <div class="d-flex justify-content-center">
                {{ form.submit(class_="my-3 form-control btn btn-success w-50") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}