{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "account_page_template.html" %}
<div class="col-md-9">
    <div class="row g-3">
        <div class="col-12 col-md-6 pb-5 mb-5">
            <form method="POST" action="{{ url_for('account.change_password') }}">
                {{ form.hidden_tag() }}
                {{ form.old_password.label(class_="form-label") }} {{ form.old_password(class_="form-control w-75") }}
                {{ form.new_password.label(class_="form-label my-2") }} {{ form.new_password(class_="form-control w-75") }}
                {{ form.confirm_new_password.label(class_="form-label my-2") }} {{
                form.confirm_new_password(class_="form-control w-75") }}
                {{ form.submit(class_="my-3 form-control btn btn-success w-50") }}
            </form>
        </div>
    </div>
</div>

{% endblock content %}