{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "account_page_template.html" %}
<div class="col-md-9">
    <form class="row g-3 border border-1 rounded-2 m-0 p-3" method="POST"
          action="{{ url_for('account.modify_post', property_id=property_to_update.id) }}"
          enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-md-12">
            {{ form.title.label(class="form-label") }} {{ form.title(class_="form-control") }}
        </div>
        <div class="col-md-12">
            <div>
                {{ form.description.label(class="form-label") }} {{ form.description(class_="form-control",
                style="height: 15rem;") }}
            </div>
        </div>
        <div class="col-6 col-md-3">
            {{ form.type.label(class="form-label") }} {{ form.type(class_="form-control") }}
        </div>
        <div class="col-6 col-md-3">
            {{ form.city.label(class="form-label") }} {{ form.city(class_="form-control") }}
        </div>
        <div class="col-md-6">
            {{ form.location.label(class="form-label") }} {{ form.location(class_="form-control") }}
        </div>
        <div class="col-6 col-md-4">
            {% if current_user.mobile %}
            <label class="form-label">Mobile</label>
            <input type="text" name="mobile" class="form-control" value="{{ current_user.mobile }}" disabled>
            {% else %}
            <label class="form-label">Mobile</label>
            <input type="text" name="mobile" class="form-control" disabled>
            {% endif %}
        </div>
        <div class="col-6 col-md-4">
            {{ form.price.label(class="form-label") }} {{ form.price(class_="form-control") }}
        </div>
        <div class="col-6 col-md-4">
            {{ form.payment_mode.label(class="form-label") }} {{ form.payment_mode(class_="form-control") }}
        </div>
        <div class="col-6 col-md-4">
            {{ form.furnishing.label(class="form-label") }} {{ form.furnishing(class_="form-control") }}
        </div>
        <div class="col-6 col-md-2">
            {{ form.area.label(class="form-label") }} {{ form.area(class_="form-control") }}
        </div>
        <div class="col-6 col-md-2">
            {{ form.num_of_bed.label(class="form-label") }} {{ form.num_of_bed(class_="form-control") }}
        </div>
        <div class="col-6 col-md-2">
            {{ form.num_of_bath.label(class="form-label") }} {{ form.num_of_bath(class_="form-control") }}
        </div>
        <div class="col-6 col-md-2">
            {{ form.num_of_garage.label(class="form-label") }} {{ form.num_of_garage(class_="form-control") }}
        </div>
        <div class="col-md-4">
            {% if property_to_update.floor_plan %}
            <div class="card">
                <div class="card-img d-flex">
                    <img class="img-fluid flex-fill"
                         src="{{ url_for('static', filename='/assets/img/property_images/' + property_to_update.floor_plan) }}"
                         style="width:30rem;height:23rem;"/>
                    <div class="card-img-overlay align-items-end justify-content-center d-flex">
                        <a href="{{ url_for('account.delete_post_item', item_id=property_to_update.id) }}"
                           class="btn btn-dark btn-sm">Delete <i class="fa-sharp fa-solid fa-trash fa-xl"></i></a>
                    </div>
                </div>
            </div>
            {% else %}
            <div class=" container-fluid">
                <div class="row justify-content-center d-flex ">
                    <img src="{{ url_for('static', filename='assets/img/page_images/default-image.jpg') }}"
                         class="img-fluid img-thumbnail" style="width:30rem;height:23rem;"/>
                </div>
            </div>
            {% endif %}
            {{ form.floor_plan.label(class_="form-label pt-2") }} {{ form.floor_plan(class_="form-control pt-2") }}
        </div>
        <div class="col-md-8">
            {% if property_to_update_img: %}
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner bg-dark">
                    {% for img in property_to_update_img %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item active d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name) }}"
                             class="img-fluid" style="width:30rem;height:23rem;" alt="...">
                        <div class="carousel-caption d-flex pb-0 justify-content-center">
                            <a href="{{ url_for('account.delete_post_item', img_id=img.id) }} "
                               class="btn btn-dark btn-sm">Delete
                                <i class="fa-sharp fa-solid fa-trash fa-xl"></i></a>
                        </div>
                    </div>

                    {% else %}
                    <div class="carousel-item d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name) }}"
                             class="img-fluid" style="width:30rem;height:23rem;" alt="...">
                        <div class="carousel-caption d-flex pb-0 justify-content-center">
                            <a href="{{ url_for('account.delete_post_item', img_id=img.id) }}"
                               class="btn btn-dark btn-sm">Delete
                                <i class="fa-sharp fa-solid fa-trash fa-xl"></i></a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {% else %}
            <div class="d-flex justify-content-center w-100">
                <img src="{{ url_for('static', filename='assets/img/page_images/default-image.jpg') }}"
                     class="img-fluid img-thumbnail" style="height:23rem;"/>
            </div>
            {% endif %}
            {{ form.images.label(class_="form-label pt-2") }} {{ form.images(class_="form-control pt-2") }}
        </div>
        <div class="col-md-12">
            <div class="container-fluid px-0">
                <div class="row px-2">
                    {{ property_to_update.video_url | safe }}
                </div>
            </div>
            {{ form.video_url.label(class_="form-label pt-2") }} {{ form.video_url(class_="form-control pt-2") }}
        </div>
        <div class="col-md-12">
            <div class="container-fluid px-0">
                <div class="row px-2">
                    {{ property_to_update.map_url | safe }}
                </div>
                {{ form.map_url.label(class_="form-label pt-2") }} {{ form.map_url(class_="form-control pt-2") }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="container-fluid px-0">
                <p>Amenities</p>
                <div class="row g-2 form-group">
                    {% for item in amenity_list %}
                    <div class="col-6 col-md-4 mx-0 position-relative">
                        {% if item in property_amenities %}
                        <input class="form-check-input" name="amenity" type="checkbox"
                               value="{{ item }}" id="flexCheckDefault{{ item }}" checked>
                        {% else %}
                        <input class="form-check-input" name="amenity" type="checkbox"
                               value="{{ item }}" id="flexCheckDefault{{ item }}">
                        {% endif %}
                        <label class="form-check-label stretched-link ps-1" for="flexCheckDefault{{ item }}">{{ item
                            }}</label>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-6 col-6">
            <a href="{{ url_for('account.my_posts') }}" class="btn btn-dark w-100">Cancel</a>
        </div>
        <div class="col-md-6 col-6 pb-2">
            {{ form.submit(class_="form-control btn btn-success" ) }}
        </div>
    </form>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='description') }}
</div>
{% endblock content %}