{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "account_page_template.html" %}
<div class="col-md-9">
    <form class="row g-3" method="POST" action="{{ url_for('account.post_property') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="col-md-12">
            {{ form.title.label(class="form-label") }} {{ form.title(class_="form-control") }}
        </div>
        <div class="col-md-12">
            {{ form.description.label(class="form-label") }} {{ form.description(class_="form-control") }}
        </div>
        <div class="col-md-4">
            <img class="img-fluid" src="{{ url_for('static', filename='/assets/img/property_images/' + property_to_update.floor_plan) }}"/>
            {{ form.floor_plan.label(class_="form-label") }} {{ form.floor_plan(class_="form-control") }}
        </div>
        <div class="col-md-8">
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner bg-dark">
                    {% for img in property_to_update_img %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item active w-50">
                        <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name) }}"
                             class="d-block img-fluid" alt="...">
                    </div>
                    {% else %}
                    <div class="carousel-item w-50">
                        <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name) }}"
                             class="d-block img-fluid" alt="...">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {{ form.images.label(class_="form-label") }} {{ form.images(class_="form-control") }}
        </div>
        <div class="col-md-2">
            {{ form.type.label(class="form-label") }} {{ form.type(class_="form-control") }}
        </div>
        <div class="col-md-3">
            {{ form.city.label(class="form-label") }} {{ form.city(class_="form-control") }}
        </div>
        <div class="col-md-7">
            {{ form.location.label(class="form-label") }} {{ form.location(class_="form-control") }}
        </div>
        <div class="col-md-12">
            {{ form.video_url.label(class_="form-label") }} {{ form.video_url(class_="form-control") }}
        </div>
        <div class="col-md-12">
            {{ form.map_url.label(class_="form-label") }} {{ form.map_url(class_="form-control") }}
        </div>
        <div class="col-md-4">
            {% if current_user.mobile %}
            <label class="form-label">Mobile</label>
            <input type="text" name="mobile" class="form-control" value="{{ current_user.mobile }}" disabled>
            {% else %}
            <label class="form-label">Mobile</label>
            <input type="text" name="mobile" class="form-control" disabled>
            {% endif %}
        </div>
        <div class="col-md-4">
            {{ form.price.label(class="form-label") }} {{ form.price(class_="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.payment_mode.label(class="form-label") }} {{ form.payment_mode(class_="form-control") }}
        </div>
        <div class="col-md-4">
            {{ form.furnishing.label(class="form-label") }} {{ form.furnishing(class_="form-control") }}
        </div>
        <div class="col-md-2">
            {{ form.area.label(class="form-label") }} {{ form.area(class_="form-control") }}
        </div>
        <div class="col-md-2">
            {{ form.num_of_bed.label(class="form-label") }} {{ form.num_of_bed(class_="form-control") }}
        </div>
        <div class="col-md-2">
            {{ form.num_of_bath.label(class="form-label") }} {{ form.num_of_bath(class_="form-control") }}
        </div>
        <div class="col-md-2">
            {{ form.num_of_garage.label(class="form-label") }} {{ form.num_of_garage(class_="form-control") }}
        </div>
        <div class="col-md-12">
            {{ form.amenity.label(class="form-label") }} {{ form.amenity(class_="form-control") }}
        </div>
        <div class="col-md-4 col-12">
            {{ form.submit(class_="form-control btn btn-success" ) }}
        </div>
    </form>
</div>
{% endblock content %}