{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "account_page_template.html" %}
<div class="col-md-9">
    <div class="row g-3">
        {% for property in user_properties %}
        <div class="col-md-4 col-6">
            <div class="card rounded-0">
                <a href="#">
                    {% for img in property_img %}
                    {% if img.property_id == property.id %}
                    <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name ) }}" alt=""
                         class="img-fluid card-img rounded-0" style="height:15rem;">
                    {% endif %}
                    {% if not property.images and loop.index == 1 %}
                    <img src="{{ url_for('static', filename='assets/img/page_images/default-image.jpg') }}" alt=""
                         class="img-fluid card-img img-thumbnail rounded-0" style="height:15rem;">
                    {% endif %}
                    {% endfor %}
                </a>

                <div class=" card-body bg-light">
                    <h5 class="card-title">
                        <a href="#" class="text-success">{{ property.property_title }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2">{{ property.location }}, {{ property.city }}</h6>
                    <div class="card-footer border-0 bg-light ps-0 pt-0 text-dark">
                        {{ property.num_of_bed }} <i class="fa-solid fa-bed fa-md"></i>
                        {{ property.num_of_bath }} <i class="fa-solid fa-bath fa-md"></i>
                        {{ property.num_of_garage }} <i class="fa-solid fa-car fa-md"></i>
                        {{ property.area }}m<sup>2</sup> <i class="fa-solid fa-ruler-combined fa-md"></i>
                    </div>
                    <div class="text-dark">
                        <i class="fa-solid fa-dollar-sign fa-md"></i>{{ property.price }}
                        <i class="fa-solid fa-couch fa-md"></i> {{ property.furnishing }}
                    </div>
                    <div class="d-flex justify-content-start mt-2">
                        <form method="POST"
                              action="{{ url_for('account.modify_post', property_id=property.id) }}">
                            <button type="submit" class="btn btn-outline-success btn-sm me-2">Modify</button>
                        </form>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-dark btn-sm" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop{{ property.id }}">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop{{ property.id }}" data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete Post</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to delete</p>
                            <p><strong>{{ property.property_title }} in {{ property.location }}, {{ property.city
                                }}</strong></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <a type="button" href="{{ url_for('account.delete_post', property_id=property.id) }}"
                               class="btn btn-primary">Confirm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        {% endfor %}
    </div>
</div>
{% endblock content %}