{% extends "base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg bg-white fixed-top" style="top:78px;margin:auto;width:70rem;">
    <div class="container px-0">
        <button class="ms-2 navbar-toggler p-2 text-success" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <i class="fa-sharp fa-solid fa-filter fa-lg"></i>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" id="filters">
                <ul class="navbar-nav">
                    <li class="p-1">
                    <form class="input-group input-group-sm my-auto" method="POST"
                          action="{{ url_for('page.property_grid') }}" style="width:22rem;" role="search">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <input type="text" class="form-control " placeholder="Address, City or Zip"
                               name="search_query">
                        <button class="btn btn-outline-secondary text-white bg-success btn-sm" type="submit"
                                id="button-addon2"><i
                                class="fa-solid fa-magnifying-glass fa-sm"></i></button>
                    </form>
                    </li>
                    <li class="p-1">
                        <div class="input-group">
                            <select class="btn btn-outline-success btn-sm" name="type" id="property_type">
                                <option selected value="">Property Type</option>
                                {% for type in available_property_types %}
                                <option value="{{ type }}">{{ type }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li class="nav-item dropdown p-1">
                        <a class="btn btn-outline-success dropdown-toggle btn-sm" href="#" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Price
                        </a>
                        <ul class="dropdown-menu">
                            <li><input type="text"></li>
                            <li><input type="text"></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown p-1">
                        <div class="input-group">
                            <select class="btn btn-outline-success btn-sm" id="num_of_bed">
                                <option selected value="">Beds</option>
                                {% for num in available_num_of_bed %}
                                <option value="{{ num }}">{{ num }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li class="nav-item dropdown  p-1">
                        <div class="input-group">
                            <select class="btn btn-outline-success btn-sm" id="numOfBath">
                                <option selected value="">Baths</option>
                                {% for num in available_num_of_bath %}
                                <option value="{{ num }}">{{ num }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li class="nav-item dropdown p-1">
                        <div class="input-group">
                            <select class="btn btn-outline-success btn-sm" id="numOfGarage">
                                <option selected value="">Garages</option>
                                {% for num in available_num_of_garage %}
                                <option value="{{ num }}">{{ num }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li class="nav-item dropdown p-1">
                        <div class="input-group">
                            <select class="btn btn-outline-success btn-sm" id="furnishing">
                                <option selected value="">Furnishing</option>
                                {% for furnishing in available_furnishings %}
                                <option value="{{ furnishing }}">{{ furnishing }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="container" id="properties" style="padding-top:140px">
</div>
{% endblock content %}