{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-9">
            {% if selected_property.images %}
            <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    {% for img in selected_property.images %}
                    <button type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide-to="{{ loop.index - 1}}"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% endfor %}
                </div>
                <div class="carousel-inner bg-dark">
                    {% for img in selected_property.images %}
                    {% if loop.index == 1 %}
                    <div class="carousel-item active d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name) }}"
                             class="img-fluid" style="height:33rem;" alt="...">
                    </div>

                    {% else %}
                    <div class="carousel-item d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='assets/img/property_images/' + img.image_name) }}"
                             class="img-fluid" style="height:33rem;" alt="...">
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            {% else %}
            <div class="d-flex justify-content-center w-100">
                <img src="{{ url_for('static', filename='assets/img/page_images/default-image.jpg') }}"
                     class="img-fluid img-thumbnail" style="height:32rem;"/>
            </div>
            {% endif %}
            <div>
                <p class="text-success mt-4 mb-0 fs-3"><i class="fa-solid fa-dollar-sign fa-sm"></i><span
                        class="fw-bold fs-2">{{ selected_property.price }}</span> Yearly</p>
            </div>
            <div>
                <ul class="list-group list-group-horizontal d-flex align-items-end">
                    <li class="list-group-item border-0 ps-0 py-0 fs-4">
                        <i class="fa-solid fa-bed"></i> {{ selected_property.num_of_bed }}
                    </li>
                    <li class="list-group-item border-0 py-0 fs-4">
                        <i class="fa-solid fa-bath"></i> {{ selected_property.num_of_bath }}
                    </li>
                    <li class="list-group-item border-0 py-0 fs-4">
                        <i class="fa-solid fa-car"></i> {{ selected_property.num_of_garage }}
                    </li>
                    <li class="list-group-item border-0 py-0 fs-4">
                        <i class="fa-solid fa-ruler-combined"></i> {{ selected_property.area }}ft<sup>2</sup>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="list-group list-group-horizontal d-flex align-items-end">
                    <li class="list-group-item border-0 ps-0 py-0 fs-4">
                        <i class="fa-solid fa-couch"></i> {{ selected_property.furnishing }}
                    </li>
                    <li class="list-group-item border-0 py-0 fs-4">
                        <i class="fa-solid fa-money-check-dollar"></i> {{ selected_property.payment_mode }}
                    </li>
                </ul>
            </div>
            <div class="mb-4">
                <p class="fs-3 mb-0 text-success"><i class="fa-solid fa-location-dot"></i> {{ selected_property.location
                    }}, {{ selected_property.city }}</p>
            </div>
        </div>
        <div class="col-md-3">
            <a class="btn btn-success" href="#"> Inquire Now</a>
            <a class="btn btn-success" href="#"> Show Phone Number</a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-9">
            <hr>
            {{ selected_property.description }}
        </div>
    </div>
</div>
{% endblock %}
